/* CSS for panel violation dialog box */
.judgescreen_violation mat-card {
  background-color: #000080;
  height: 92%;
  overflow-y: scroll;
}

.judgescreen_violation ::-webkit-scrollbar { 
  display: none; 
}


.judgescreen_violation legend {
  color: red;
  font-size: 20px;
  font-weight: 500px;
}
.judgescreen_violation .w-100 {
  width: 100%;
  text-align: center;
}
.judgescreen_violation .top_bottom_margin {
  margin-left: 5px;
  padding: 5px;
  margin-top: 5px;
}
.judgescreen_violation .fieldset_devide {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}
.judgescreen_violation .w-30 {
  width: 40%;
  background-color: khaki;
  font-weight: 600;
  font-size: 20px;
  color: blue !important;
  margin-right: 20px;
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 45px;
  border-radius: 5px solid black;
  margin-right: 30px;
  text-align: center;
  justify-content: center;
}

.judgescreen_violation .w-15 {
  width: 30%;
  background-color: khaki;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
  color: blue !important;
  height: 65px;
  align-items: center;
}
.judgescreen_violation .w-50 {
  width: 50%;
}
.judgescreen_violation .w-10 {
  width: 10%;
  text-align: center;
}

::ng-deep.cdk-global-overlay-wrapper {
  justify-content: end !important;
}
.judgescreen_violation .mat-option {
  background-color: khaki;
}
.judgescreen_violation .w-80 {
  margin-right: 5px;
  display: flex;
  justify-content: end;
}
.judgescreen_violation .submit {
  background-color: khaki;
  margin-top: 30px;
  width: auto;
  padding: 3px 15px;
  font-size: 20px;
  font-weight: 500px;
  border-radius: 30px;
}
