<div>
    <mat-card fxFlex="35">
        <mat-card-content>
            <h2 i18n>Change Official Position</h2>

            <form (ngSubmit)="updateOfficialAssignment()" name="officialForm" [formGroup]="officialForm">
    
                <div style="display:none;">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label i18n>Official Assignment ID</mat-label>
                        <input formControlName="officialassignmentid" matInput readonly />
                    </mat-form-field>
                </div>

                <div style="display:block;">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label i18n>Official</mat-label>
                        <input formControlName="officialname" matInput readonly />
                    </mat-form-field>
                </div>

                <div style="display:block;">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label i18n>Role</mat-label>
                        <mat-select [(value)]="selectedOfficialRole" name="officialrole" required (selectionChange)="onRoleChange($event)">
                            <mat-option>-- Select --</mat-option>
                            <mat-option *ngFor="let role of roles" [value]="role.sc_skatingofficialroleid">
                                {{role.languages[language].name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!officialForm.controls['officialrole'].valid" i18n>
                            Please select a position
                        </mat-error>
                    </mat-form-field>
                </div>

                <div style="display:block;">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label i18n>Position (Judge Only)</mat-label>
                        <mat-select [(value)]="selectedOfficialPosition" name="officialposition" required (selectionChange)="onPositionChange($event)">
                            <mat-option>-- Select --</mat-option>
                            <mat-option [value]="1">1</mat-option>
                            <mat-option [value]="2">2</mat-option>
                            <mat-option [value]="3">3</mat-option>
                            <mat-option [value]="4">4</mat-option>
                            <mat-option [value]="5">5</mat-option>
                            <mat-option [value]="6">6</mat-option>
                            <mat-option [value]="7">7</mat-option>
                            <mat-option [value]="8">8</mat-option>
                            <mat-option [value]="9">9</mat-option>
                            <mat-option [value]="10">10</mat-option>
                            <mat-option [value]="11">11</mat-option>
                            <mat-option [value]="12">12</mat-option>
                        </mat-select>
                        <mat-error *ngIf="!officialForm.controls['officialposition'].valid" i18n>
                            Please select a role
                        </mat-error>
                    </mat-form-field>
                </div>

                <button type="submit" class="mat-flat" mat-dialog-close mat-flat-button color="primary" i18n>Submit Changes</button>

            </form>
            <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close i18n>Close</button>
            </mat-dialog-actions>
        </mat-card-content>
    </mat-card>
</div>